html {
  height: 100%;
}

* {
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;

}

body {
  background-color: #003849;
  height: 100%;
	margin: 0;
  width: auto;
}

.top {
	height: 850px;
  min-height: 600px;
  position: relative;
  width: 100%;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 20%;
  width: 30em;
}

.date {
	color: #CD372D;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 700;
	font-size: 2em;
	text-align: center;
}

#mc_embed_signup {
  clear:left; 
  padding: 3% 0 3% 0;
  width: 100%;
}

#mc_embed_signup_scroll {
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
}

#mc_embed_signup .email {
  background: transparent;
  border-color: #CD372D;
  border-radius: 15px;
  border-style: solid;
  box-shadow: none;
  color: #FFAD0B;
  font-family: 'Roboto Light', sans-serif;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
  width: 20em;
}

#mc_embed_signup .button {
  background-color: #FFAD0B;
  border: none;
  border-radius: 15px;
  box-shadow: none;
  color: #003849;
  font-size: 1.2em;
  margin-left: 20px;
  padding: 10px;
}

#mc_embed_signup .button:hover {
  background-color: #FF9F39;
}

/* do not group these rules */
*::-webkit-input-placeholder {
  color: #CD372D;
}
*:-moz-placeholder {
      /* FF 4-18 */
  color: #CD372D;
}
*::-moz-placeholder {
      /* FF 19+ */
  color: #CD372D;
}
*:-ms-input-placeholder {
      /* IE 10+ */
  color: #CD372D;
}

input:focus::-webkit-input-placeholder { color:transparent;  }
input:focus:-moz-placeholder { color:transparent;  } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent;  } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent;  } /* IE 10+ */

.notification-bar {
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  font-family: 'Roboto Light', sans-serif;
  font-size: 1.2em;
  padding: 1em;
}

.success-notification {
  color: #FFAD0B;
}

.failed-notification {
  color: #CD372D;
}

.bottom {
  height: 20em;
  margin-top: -20em;
  overflow: auto;
  position: relative;
}

.bottom-image {
	bottom:0; left: 0; right:0;
	position: absolute;
	width: 100%;
}

.computers-image {
  display: block;
	margin: 0 auto;
	max-width: 60em;
  width: 85%;
}

.bottom-bar {
  background-color: #CD372D;
  bottom: 0;
  height: 75em;
  position: absolute;
  width: 100%;
  visibility: visible;
  z-index: -1;
}

.robots {
  display: flex;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  bottom: 0; left: 0; right: 0;
  overflow-x: scroll;
  overflow-y: visible;
  padding-top: 1em;
  position: absolute;
}

.robot-1, .robot-2, .robot-3, .robot-4, .robot-5 {
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 1em;
  width: 10em;
}

.bottom-image, 
.robots,
.top {
  visibility: hidden;
}

/* WHO WE ARE */
.who-we-are {
  height: 850px;
}

/* FAQ */
.faq {
  height: 850px;
}

@media (max-height: 650px) {
  .logo {
    padding-top: 10%;
  }
}

@media (max-width: 950px) {
  .robots {
    justify-content: left;
    -webkit-justify-content: left;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 80%;
  }
  .computers-image, 
  .bottom-image {
    visibility: hidden;
  }
}

/* MOBILE */
@media only screen and (max-device-width:800px) {
  .top {
    height: 1700px;
  }

  .logo {
    width: 80%;
  }

  .date {
    font-size: 4em;
  }

  #mc_embed_signup_scroll {
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
  }

  #mc_embed_signup .button {
    font-size: 3em;
    margin-top: 1em;
    width: 10em;
  }

  #mc_embed_signup .email {
    font-size: 3em;
    padding: 15px;
    width: 80%;
  }

  .bottom {
    height: 100em;
    margin-top: -100em;
  }

  .computers-image, 
  .bottom-image {
    visibility: hidden;
  }

  .robots {
    justify-content: left;
    -webkit-justify-content: left;
  }

  .robots > img {
    height: auto;
    width: 55%;
  }

  /* iPHONE 4 and similar height screens */
  @media (max-device-height:500px) {
    .robots > img {
      width: 45%;
    }
  }

  /* FIREFOX MOBILE */
  @-moz-document url-prefix() { 
    .top {
      height: 50em;
      min-height: 400px;
    }

    .date {
      font-size: 1.3em;
    }

    #mc_embed_signup .email {
      font-size: 1em;
    }

    #mc_embed_signup .button {
      font-size: 1em;
      margin-left: 0;
    }

    .robots > img {
      width: 5em;
    }

    @media (max-device-height:700px) {
      .top {
        height: 38em;
      }
    }

    @media (max-device-height:500px) {
      .top {
        height: 450px;
      }
    }
  }
}


